/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #903163
$textColor = black
$borderColor = #eaecef
$codeBgColor = #903163

$nprogressColor = red

/**
* witivio palette color
* button : #903163
*/